.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.main{
    height: 300px;
    width: 900px;
    background-color: gray;
}