.arrivalContainer {
  background-color: #fff;
  width: 100%;
  padding: 24px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
  color: #000;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #111;
}

.form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  margin-bottom: 24px;
}

.input{
    padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  width: 100%;
}
.select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  background-color: #fff;
  color: #000;
  width: 100%;
}

.button {
  padding: 10px 16px;
  background-color: #843B62;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
  margin-top: auto;
}

.button:hover {
  background-color: hsla(328, 38%, 37%, 0.9);
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

.cellHeader {
  padding: 14px;
  border: 1px solid #ccc;
  text-align: left;
  font-weight: 600;
  background-color: #f4f4f4;
}

.cell {
  padding: 14px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: left;
  color: #000;
}

.deleteButton {
  background-color: crimson;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}

