.wrapper {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;       
  height: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow-x: hidden;      
  background-color: rgb(34, 34, 167);
}

.title {
  font-size: 26px;
  font-weight: bold;
  margin: 20px 0;
}

.scrollContainer {
  overflow-x: auto;
  width: 1300px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-color: rgb(128, 84, 27);
}

.container {
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  scroll-behavior: smooth;
  background-color: rgb(128, 84, 27);
  padding: 10px;
  box-sizing: border-box;
  width: 1200px;
}

.container::-webkit-scrollbar {
  height: 8px;
}

.container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

.card {
  width: 180px;
  flex-shrink: 0;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  box-sizing: border-box;
}

.card:hover {
  transform: scale(1.02);
}

.image {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.details {
  margin-top: 10px;
  text-align: center;
}
