.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F67E7D;
  padding: 20px;
  color: black;
  margin-top: 20px;

  /* Styles Convert from Tailwind */
  background-color: #ffffff;
  border-radius: 0.5rem 0.5rem 0 0; /* 8px */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e7eb;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
}

.userList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.userCard {
  background: #FFB997;
  padding: 16px 20px;
  border-radius: 10px;
  min-width: 100px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilePic {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.updateBtn {
  margin-top: 8px;
  padding: 6px 10px;
  background-color: #843B62;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.updateBtn:hover {
  background-color: hsla(328, 38%, 37%, 0.9);
}

.deleteBtn {
  margin-top: 5px;
  padding: 6px 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: #c9302c;
}

