/* layout.module.css */

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: hsla(328, 38%, 37%, 0.5); */
  background-color: #f5f5f5;
  min-height: 100vh; /* ensures full screen height */
}

/* Let .main shrink if content is short, but stretch if needed */
.main {
  flex: 1 0 auto; /* don't force it to grow if not needed */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 0;
}
